.c-pill {
  background-color: #dc143c;
  color: #ffff;
  font-size: 1.3rem;
  font-weight: bold;

  margin: 10px;
  height: 55px;
  border-radius: 30px;

  display: flex;
  align-items: center;

  &__name {
    margin-left: 15px;
  }

  &__amount {
    margin: 10px;
    padding: 5px;
    height: 35px;
    width: 35px;
    border-radius: 18px;

    background-color: #fff;
    color: #dc143c;

    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
